body {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.column {
  background-color: rgba(201, 196, 189, 0.519);
  width: 100%;
  /* height: 100%; */
  height: 100vh;
  overflow-y: scroll;

}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .column {
    overflow-y: scroll;
  }
}

@media screen and (max-width: 576px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}